body {
  scroll-behavior: smooth;
}

.lazy-load-image-background {
  /* width: 100% !important; */
  max-width: 49%;
  margin-bottom: 20px;
}

@media (max-width: "440px") {
  .lazy-load-image-background {
    max-width: 100% !important;
    width: 100% !important;
  }
}

.faded__img {
  transition: 0.3s ease;
}

.faded__img:hover {
  filter: grayscale(0%) opacity(1);
  opacity: 1;
}
